@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.header {
   background: url("../img/everest.jpg") no-repeat;
   background-size: 100%;
   background-position: top center;
}

.wrapper {
   width: 1300px;
   margin: 0 auto;
}

.container {}

.top_nav {

   display: flex;
   justify-content: center;
   align-items: center;
   padding: 42px 0px 0px 0px;
}

.top_nav h1 {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   display: flex;
   align-items: center;
   color: #FCFCFC;
   margin: 0px 99px 0px 0px;
}

.top_nav a {
   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   display: flex;
   align-items: center;
   color: #FCFCFC;
   margin: 0px 30px 0px 0px;
   transition: 0.5s;
}

.top_nav a:hover {
   color: red;
   transform: scale(1.2);
}

.top_nav a:nth-child(6) {
   margin: 0px 296px 0px 0px;
}

.top_nav p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   display: flex;
   align-items: center;
   color: #FCFCFC;
   margin: 0px 43px 0px 0px;
}

.top_nav img {}

.img_1 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: rgba(252, 252, 252, 0.4);
   margin: 0px 30px 0px 0px;

}

.img_1:last-child {
   margin: 0px 0px 0px 0px;
}

.header_middle h1 {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 600;
   font-size: 98px;
   line-height: 145px;
   display: flex;
   justify-content: center;
   color: #FCFCFC;
}

.header_middle p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FCFCFC;
   margin: 66px auto 0px;
   border: 2px solid #FCFCFC;
   width: 170px;
   height: 45px;
}

.header_middle {
   padding: 205px 0px 300px 0px;
}

.main__level-1 {}

.level_1 {}

.level_flex {
   margin: 140px 0px 0px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.left_flex h2 {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 600;
   font-size: 52px;
   line-height: 115%;
   display: flex;
   align-items: center;
   color: #061B28;
   margin: 0px 0px 50px 0px;
}

.left_flex p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   display: flex;
   align-items: center;
   color: #061B28;
}

.right_flex img {
   margin: 150px 0px 0px 0px;
}

.level-2 {
   margin: 140px 0px 0px 0px;
}

.level-2 h2 {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 600;
   font-size: 52px;
   line-height: 115%;
   /* or 60px */

   display: flex;
   align-items: center;
   justify-content: center;
   color: #061B28;
   margin: 0px 0px 80px 0px;
}

.level_2-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.card {
   background: url('../img/beluxa.jpg') no-repeat;
   background-size: cover;
   background-position: top center;
   margin: 0px 31px 0px 0px;
}

.card-top {
   display: flex;
   align-items: center;
   margin: 39px 0px 135px 40px;
   position: relative;

}


.card-top p:nth-child(3) {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   background: rgba(252, 252, 252, 0.4);
   border-radius: 50%;
   margin: 0px 41px 0px 0px;
}

.card-top p:nth-child(2) {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 115%;
   color: #061B28;
   margin: 0px 181px 0px 7px;
}

.card-gen {
   margin: 0px 0px 0px 40px;
   position: relative;
}

.card-gen h3 {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 500;
   font-size: 26px;
   line-height: 115%;
   display: flex;
   align-items: center;
   color: #061B28;
   margin: 0px 0px 25px 0px;

}

.card-2 {
   background: url('../img/elbrus.jpg') no-repeat;
   background-size: cover;
   background-position: top center;
   margin: 0px 31px 0px 0px;

}

.card-3 {
   background: url('../img/kilimanjaro.jpg') no-repeat;
   background-size: cover;
   background-position: top center;


}

.card-gen_info {
   display: flex;

}

.bg img {
   position: absolute;
   width: 387px;
   height: 370px;
}


.card-gen_info p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 115%;
   display: flex;
   align-items: center;
   color: #061B28;
   border-right: 1px solid #000;
   padding: 0px 10px 0px 0px;
   margin: 0px 20px 25px 0px;
}

.card-gen_info p:last-child {
   border: none;
}

.card-gen_foot {
   display: flex;
   align-items: center;
   margin: 0px 0px 38px 0px;
}

.card-gen_foot p:first-child {
   display: flex;
   align-items: center;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   border: 2px solid #FCFCFC;
   color: #FCFCFC;
   margin: 0px -7px 0px 0px;
}

.card-gen_foot img {
   margin: 0px 6px 0px 0px;
}

.card-gen_foot p:nth-child(3) {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 115%;
   display: flex;
   align-items: center;
   color: #061B28;

}

.main__level-3 {
   background: url('../img/map.jpg') no-repeat;
   background-size: cover;
   background-position: top center;
}

.level-3 h2 {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 600;
   font-size: 52px;
   line-height: 115%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 205px 0px 0px 0px;
   padding: 100px 0px 25px 0px;
   color: #FCFCFC;
}

.level-3 span {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   display: flex;
   align-items: center;
   width: 243px;
   margin: 0 auto;
   text-align: center;
   color: #FCFCFC;
}

.level_3-flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.coun {
   margin: 0px 0px 50px 0px;
}

.coun h3 {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   /* or 25px */
   border-bottom: 1px solid #45545E;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 60px 109px 15px 0px;
   color: #A7AEB4;

}

.coun p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 140%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 60px 109px 15px 0px;
   border-bottom: 1px solid #45545E;
   color: #FCFCFC;
}


.all {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #FCFCFC;

   /* Светлый */
   width: 170px;
   height: 45px;
   margin: 0 auto;
   color: #FCFCFC;
}